<span>{{system.category}} · {{system.area}} · {{system.spaces}} sp ({{system.mount}}){{#if system.sdp}} · {{CPLocal "Vehicle.SysSDP"}} {{system.sdp}}{{/if}}{{#if system.destroyed}} · <b class="cp-vehicle-destroyed">{{CPLocal "Vehicle.Destroyed"}}</b>{{/if}}</span>
