<span>{{system.category}} · {{system.area}} · {{system.spaces}} sp ({{system.mount}}){{#if system.sop}} · {{CPLocal "Vehicle.SysSOP"}} {{system.sop}}{{/if}}{{#if system.destroyed}} · <b class="cp-vehicle-destroyed">{{CPLocal "Vehicle.Destroyed"}}</b>{{/if}}</span>
