<span>{{system.category}} · {{system.area}} · {{system.spaces}} sp ({{system.mount}}){{#if system.sop}} · SOP {{system.sop}}{{/if}}{{#if system.destroyed}} · <b style="color:#ff4040;">DESTROYED</b>{{/if}}</span>
