<span>{{CPLocal "Vehicle.ShellPenLabel"}} {{system.penetration}}{{#if system.ap}} {{CPLocal "AP"}}{{/if}}{{#if system.heat}} {{CPLocal "Vehicle.FlagHEAT"}}{{/if}}{{#if system.burst}} · {{system.burst}}m {{CPLocal "Vehicle.BurstWord"}}{{/if}}{{#if system.range}} · {{system.range}}m{{/if}}</span>
