<div class="armor-display">
  {{#each hitLocations as |hitLoc name|}}
    <div class="field armor-segment" style="grid-area: {{name}}">

      {{#if hitLoc.location}}
        <label class="segment-loc" title="{{CPLocal "HitLoc"}}">
          <p class="inactive">{{displayRange hitLoc.location}}</p>
        </label>
      {{/if}}

      {{!-- Ablate and repair buttons aren't functional yet, but ARE styled --}}
      {{!-- <span class="segment-ablate action inactive" title={{CPLocal "Ablate"}} data-hit-loc="{{name}}">-</span> --}}

      <input
        type="number"
        class="segment-sp {{#unless ../edit}}not-editable{{/unless}}"
        title="{{CPLocal "SPFull"}}"
        name="system.{{../hitLocsName}}.{{name}}.stoppingPower"
        value="{{hitLoc.stoppingPower}}"
        {{#unless ../edit}}readonly{{/unless}}>

        {{!-- SDP: show ONLY on actors (system.sdp.sum exists) and ONLY if zone sum != 0 --}}
        {{#if ../system.sdp.sum}}
          {{#unless (equals (lookup ../system.sdp.sum name) 0)}}
            {{#unless (equals (lookup ../system.sdp.sum name) "0")}}
              <div class="segment-sdp-row">
                <input
                  type="number"
                  class="smallnumber not-editable"
                  title="{{CPLocal "SDPSumTooltip"}}"
                  value="{{lookup ../system.sdp.sum name}}"
                  readonly>
                <input
                  type="number"
                  class="smallnumber"
                  title="{{CPLocal "SDPCurrentTooltip"}}"
                  name="system.sdp.current.{{name}}"
                  value="{{lookup ../system.sdp.current name}}">
              </div>
            {{/unless}}
          {{/unless}}
        {{/if}}

      <label class="segment-name">{{shortCPLocal name}}</label>
    </div>
  {{/each}}
</div>
