<span>{{#if system.vehicleType}}{{system.vehicleType}}{{/if}}{{#if system.speed.value}} · {{system.speed.value}} {{system.speed.unit}}{{/if}}{{#if system.sdp}} · {{CPLocal "Vehicle.SysSDP"}} {{system.sdp}}{{/if}}</span>
