{{!-- Augmented Edition: IP skills-tab header (Simple-mode pool readout + skill-lock toggle), injected
     above the skill list by module/ip/ip-sheet.js. Replaces the system's inline-styled / emoji header
     with CSS classes + FontAwesome icons. --}}
<div class="cp2020ae-ip-skills-header">
    {{#if simple}}<span class="cp2020ae-ip-pool" title="{{localize "CYBERPUNK.IpPool"}}">{{localize "CYBERPUNK.IpPool"}}: <b>{{pool}}</b></span>{{/if}}
    <span class="cp2020ae-ip-spacer"></span>
    <button type="button" class="cp2020ae-ip-lock-toggle" title="{{localize "CYBERPUNK.IpSkillLockToggle"}} ({{lockMode}})">
        <i class="fas {{#if locked}}fa-lock{{else}}fa-lock-open{{/if}}"></i>
        <span>{{localize "CYBERPUNK.IpSkillLockToggle"}}</span>
    </button>
</div>
